#about {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4em;

  .sectionName {
    width: 50%;
    min-width: max-content;
    font-size: 2.2em;
    font-family: $ff-prim;
    color: $light-gray;
    text-align: left;
  }
  .Imgcodebox {
    width: 100vw;
    max-width: 780px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .aboutCode {
      height: auto;
      max-width: 80%;
      width: max-content;
      color: $light-gray;
      font-family: $ff-sec;
      font-size: 1.2rem;
      letter-spacing: 0.3px;
      font-weight: 500;
    }

    .imgBox {
      width: 100%;
      max-width: 30em;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: auto;
        width: 80%;
        max-width: 30em;
        margin: auto;
      }
    }
  }
}
