#projects {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4em;

  .projHeading {
    width: 50%;
    min-width: 20em;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    padding-bottom: 2em;

    h1 {
      font-family: $ff-prim;
      color: #e8e9eb;
      text-align: left;
      font-size: 2.1em;
    }
  }

  .projBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    scroll-snap-align: center;

    .proj {
      width: 25em;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5em;
      //   background-color: #c36739;
      padding: 1em;
      border-radius: 1em;
      position: relative;
      transition: all 0.5s ease;

      &::before {
        content: "";
        width: 0;
        height: 4px;
        position: absolute;
        background-color: $accent;
        bottom: 0;
        border-radius: 1em;
        transition: all 0.5s ease;
      }

      &:hover,
      &:focus {
        background-color: rgb(32, 32, 32);
        &::before {
          width: 90%;
        }
      }

      .projImage {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          width: 100%;
          height: auto;
          border-radius: 1em;
        }
      }

      .projName {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 1em;

        h2 {
          text-align: center;
          color: $light-gray;
          font-family: $ff-sec;
          font-size: 1.2em;
        }

        p {
          color: $light-gray;
          opacity: 0.6;
        }

        .projLinks {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 140%;

          a {
            color: $light-gray;
          }
        }
      }
    }
  }
}
