@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@200&display=swap");

$font-primary: "Source Code Pro", monospace;

$font-secondary: "Source Sans Pro", sans-serif;

$ff-prim: $font-primary;
$ff-sec: $font-secondary;
